.text {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
}
.sideText {
  font-size: 1.02em + 0.53vw;
  font-weight: 600;
  font-family: var(--font-secondary);
}
.sideText_div {
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 920px) {
  .text {
    font-size: 40px;
    font-weight: 600;
  }
}

@media screen and (max-width: 680px) {
  .text {
    font-size: 25px;
    font-weight: 500;
  }
}
