.grid {
  display: grid;
  align-content: center;
  justify-content: space-evenly;
  grid-template-columns: 20rem 20rem;
  row-gap: 16px;
  align-items: center;
}
.form {
  background-image: url(/static/images/form_background2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  object-fit: cover;
  padding: 8rem 2rem 2rem 2rem;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.predicted_screen {
  padding: 20px 30px;
  background-image: url(/static/images/predicted_background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 3rem;
}
.recommendedSkills {
  border-radius: 4px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(223, 176, 176, 0.3);
}

@media screen and (max-width: 713px) {
  .grid_item {
    grid-column: 1;
  }
  .grid {
    justify-content: center;
    align-items: center;
    grid-template-columns: auto;
  }
  .form {
    padding: 3rem 1rem 1rem 1rem;
  }
}
