.grid {
  display: grid;

  align-content: center;
  justify-content: space-evenly;
  grid-template-columns: 20rem 20rem;
  row-gap: 10px;
  align-items: center;
}

@media screen and (max-width: 713px) {
  .grid_item {
    grid-column: 1;
  }
  .grid {
    justify-content: center;
    align-items: center;
    grid-template-columns: auto;
  }
}
