@font-face {
    font-family: 'pacaembu';
    src: url('/static/fonts/Pacaembu.tff');
    src: url('/static/fonts/Pacaembu.woff') format('woff'),
        url('/static/fonts/Pacaembu.otf') format('opentype');
}

* {
    box-sizing: border-box;
}

:root {
    --font-secondary: 'mulish';
    --font-primary: 'pacaembu';
}

body {
    margin: 0;
}
