@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

@font-face {
  font-family: 'pacaembu';
  src: url('/static/fonts/Pacaembu.woff') format('woff'),
    url('/static/fonts/Pacaembu.otf') format('opentype');
}

* {
  box-sizing: border-box;
}

:root {
  --font-secondary: 'mulish';
  --font-primary: 'pacaembu';
  --campus-bg: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  --constract-blue: #2e5f8c;
  --constract-gray: rgb(159, 174, 169);
  --campus-analysis-bg: rgb(232, 244, 249);
  --blue-black: rgb(30, 41, 59);
}

body {
  margin: 0;
  user-select: none;
}
